
.carousel .carousel-wrap{
    width: 100%;
    height: 90vh;
}
.carousel .carousel-image{
    width: 100%;
    height: 90vh;
    object-fit: cover;
}
.carousel .control-dots .dot {
    margin: 15px;
    padding: 10px;
    background-color: rgb(180, 180, 180);
}
.carousel .thumbs {
    display: none;
}
.control-arrow {
    display: none;
}
.carousel-status{
    display: none;
}